DB_USER=str:your_postgres_username
DB_PASSWORD=str:your_postgres_password
DB_URL=str:postgres_url

APP_SECURITY_JWT_SECRET=str:someone_secret

APP_ADMIN_EMAIL=str:admin_email
APP_ADMIN_PASSWORD=str:admin_password
APP_ADMIN_FULLNAME=str:admin_fullname

APP_COOKIE_SECURE=bool:use_secure_cookie
